#main-container{
    border: 4px solid black;
    width: 700px;
}

h1 {
    background:rgb(145, 244, 244);
    padding: 5px;
}

.sections {
    display: flex;
    justify-content: center;
    margin: 40px;
    width: 600px;
}

#randomNumber{
    font-size: 30px;
}

.crystals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystal {
    display: flex;
}

#totalScore {
    background: rgb(236, 174, 254);
    padding: 5px;
}

.score{ 
    margin: auto;
    width: 70px;
    height: 30px;
    font-size: 20px;
    text-align: left;
}

.crystal-pic {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 20px;
    justify-content: space-around;
}

#userScore {
    font-size: 30px;
}
